<sb-header></sb-header>
<section class="welcome">
  <div class="text-right">
    <span class="mat-headline d-block">Banking made for you</span>
    <span class="mat-subheading-1 d-block">Fast, free, easy and mobile</span>
    <button mat-flat-button color="accent">Open free bank account</button>
  </div>
</section>
<section class="offers">
  <div class="offer d-flex">
    <div class="left center flex-column text-left">
      <span class="mat-headline">Loans for your dream house</span>
      <p class="mat-subheading-2">
        Say goodbye to long discussions with your bank advisor. We support you
        on your way to home ownership. Simple and mobile.
        <br />
        <br />
      </p>
      <div class="action d-flex align-items-center">
        <button mat-button color="accent">Open account now</button>
        <mat-icon
          class="text-gradient"
          aria-hidden="false"
          aria-label="arrow right icon"
          fontIcon="arrow right "
          >arrow_right_alt
        </mat-icon>
      </div>
    </div>
    <div class="right center">
      <img
        src="assets/images/mobile-phone-castle.jpg"
        alt="mobile-phone-castle"
      />
    </div>
  </div>
  <div class="offer d-flex bg-quaternary text-primary">
    <div class="left center">
      <img
        src="assets/images/mobile-phone-train.jpg"
        alt="mobile-phone-castle"
      />
    </div>
    <div class="right center flex-column text-left">
      <span class="mat-headline">Loans for your dream house</span>
      <p class="mat-subheading-2">
        Say goodbye to long discussions with your bank advisor. We support you
        on your way to home ownership. Simple and mobile.
        <br />
        <br />
      </p>
      <div class="action d-flex align-items-center">
        <button mat-button color="accent">Open account now</button>
        <mat-icon
          class="text-gradient"
          aria-hidden="false"
          aria-label="arrow right icon"
          fontIcon="arrow right "
          >arrow_right_alt
        </mat-icon>
      </div>
    </div>
  </div>
</section>
<sb-footer></sb-footer>
